<%= @secrets.each do |secret| %>
  <p>
    <table>
      <thead>
        <th>Secret</th>
        <th>Action</th>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= secret.content %>
          </td>
          <td>
            <form class="" action="/secrets/<%= secret.id %>" method="post">
              <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
              <input type='hidden' name='_method' value='delete'>
              <input type="submit" value="Delete">
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </p>
<% end %>